@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;600&display=swap");

:root{--first-color:#25AB76;
    --first-color-alt:#242424;
    --text-color:#FFFFFF;
    --text-color-light:#BBBCBE;
    --text-color-lighten:#7C7C7C;
    --body-color:#1A1A1A;
    --body-font:"Inter",sans-serif;
    --h1-font-size:clamp(4.8rem,10vw,9.6rem);
    --h2-font-size:clamp(3.2rem,6vw,5.2rem);
    --h3-font-size:2.8rem;
    --h4-font-size:2.4rem;
    --normal-font-size:1.8rem;
    --small-font-size:1.6rem;
    --smaller-font-size:1.4rem;
    --font-medium:500;
    --font-semi-bold:600;
    --mb-0-5:.5rem;
    --mb-0-75:.75rem;
    --mb-1:1rem;
    --mb-1-5:1.5rem;
    --mb-2:2rem;
    --mb-2-5:2.5rem;
    --z-tooltip:10;
    --z-fixed:100}


*{
    -webkit-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0
}
html
{
    scroll-behavior:smooth;
    font-size:62.5%
}


body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size)
}

body {
    background-image: linear-gradient(90deg, #222222 1px, transparent 1px);
    background-position: center;
    background-color: var(--body-color);
    color: var(--text-color);   
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

h1, h2, h3 {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
}

h1 {
    font-size: var(--h1-font-size);
    line-height: 105%;
    letter-spacing: -2px;
}

h2 {
    font-size: var(--h2-font-size);
    line-height: 110%;
    letter-spacing: -1px;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    line-height: 130%;
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--font-medium);
    letter-spacing: -0.7px;
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.description {
    font-family: "Poppins", sans-serif;
    line-height: 155%;
    letter-spacing: 0.5px;
    color: var(--text-color-lighten);
}

.subtitle {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.small-text {
    font-size: var(--small-font-size);
    letter-spacing: 0;
    color: var(--text-color-light);
}

.container {
    max-width: calc(1140px + 10%);
    margin: 0 auto;
    padding: 0 5%;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.data-item {
    display: grid;
    gap: 1.4rem;
}
.data-title {
    font-size: clamp(3.2rem, 6vw, 4rem);
    line-height: 100%;
}
.data-text {
    font-size: 1.6rem;
    line-height: 165%;
    color: var(--text-color-light);
}

.header {
    padding: 4rem 0;
}
.header .nav_logo {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    letter-spacing: 1px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.main {
    overflow-x: hidden;
}

.hero {
    position: relative;
    padding: 7.5rem 0 15rem;
}
.hero_content-subtitle {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    letter-spacing: 1px;
    color: var(--text-color-light);
}
.hero__content-title {
    margin: 3.2rem 0;
}
.hero__content-line {
    background: var(--first-color);
    height: 0.8rem;
    width: 8rem;
}
.hero__social {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 7rem 0 8.5rem;
}

.hero__box {
    padding: 8rem 5% 0;
}
.hero__person {
    display: none;
}
.hero__button {
    background: var(--first-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 32rem;
    width: 100%;
    padding: 3.2rem;
    transition: 0.3s;
}
.hero__button:hover {
    background: var(--text-color);
    color: var(--first-color-alt);
}
.hero__button:hover .hero__button-text {
    color: var(--first-color-alt);
}
.hero__button:hover  {
    animation: bounce 0.3s ease infinite alternate;
}

.hero__button-text {
    transition: 0.3s;
}

.about__tag {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 4rem;
  }
  .about__tag-line {
    background: var(--text-color-light);
    width: 100%;
    height: 0.1rem;
    margin-right: 1.6rem;
  }
  .about__tag-subtitle {
    max-width: 8.3rem;
    width: 100%;
  }
  .about__description {
    margin: 2rem 0 8rem;
  }

  .project {
    padding: 7.5rem 0 15rem;
  }
  .project__container {
    display: grid;
    gap: 3.2rem;
  }
  .project__card {
    background: var(--first-color-alt);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32rem;
    padding: 4.8rem;
    transition: all 0.3s;
    color: var(--text-color);
  }
  .project__card:hover .project__card-icon {
    animation: bounce 0.3s ease infinite alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  .project__card-active {
    background: var(--first-color);
  }
  .project__card-active .project__card-students {
    color: var(--text-color);
  }
  .project__card-icon {
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
  }
  .project__card-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .project__card-content--icon {
    font-size: 4.8rem;
  }
  .project__card-text {
    display: grid;
    gap: 2rem;
  }

  .visual {
    padding: 0 0 15rem;
  }
  .visual__text {
    margin-bottom: 11rem;
  }
  .visual__text-title, .visual__text-description {
    max-width: 52rem;
    width: 100%;
  }
  .visual__text-description {
    margin-top: 2rem;
  }
  .visual__people {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  .visual__card-img {
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .visual__card-name {
    margin: 2rem 0 1rem;
  }
  
  footer {
    padding: 15rem 0;
  }
  footer .footer__join-btn {
    position: relative;
    display: inline-block;
    font-size: 3.6rem;
    font-weight: var(--font-semi-bold);
    letter-spacing: -1px;
    margin: 2rem 0 8rem;
    color: var(--first-color);
    transition: 0.3s;
  }
  footer .footer__join-btn::after {
    position: absolute;
    background: var(--first-color);
    content: "";
    width: 100%;
    height: 3px;
    bottom: -2px;
    left: 0;
    transition: 0.3s;
  }
  footer .footer__join-btn:hover {
    color: var(--text-color);
  }
  footer .footer__join-btn:hover::after {
    background: var(--text-color);
  }
  footer .footer__join-text {
    display: none;
  }
  footer .footer__input {
    display: flex;
    width: 100%;
    margin: 5rem 0;
  }
  footer .footer__input-custom {
    background: var(--first-color-alt);
    color: var(--text-color-lighten);
    width: 100%;
    padding: 2.2rem 3.2rem;
    border: none;
  }
  footer .footer__input-custom:focus {
    outline: none;
  }
  footer .footer__input-btn {
    background: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
    padding: 0 3.2rem;
    transition: 0.3s;
  }
  footer .footer__input-btn:hover {
    background: var(--text-color);
    color: var(--first-color-alt);
  }
  footer .footer__links {
    display: flex;
    justify-content: space-between;
    line-height: 300%;
    margin-bottom: 5rem;
    font-size: var(--smaller-font-size);
  }
  footer .footer__links:nth-last-child(1) {
    margin-bottom: 0;
  }
  footer .footer__links-item {
    transition: 0.3s;
  }
  footer .footer__links-item:hover {
    color: var(--first-color);
  }
  
  .pronunciation {
    font-weight: 500;
    color: #f5c15d;
    text-decoration: none;
    white-space: nowrap;
  }
  .link {
    position: relative;
  }
  
    .link::before {
      content: " ";
      display: block;
      position: absolute;
      border-bottom:solid 1px #f5c15d;
      bottom: -1px;
      width: 0%;
      left: 0%;
      margin: 0 auto;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }
  
    .link:hover::before {
      border-bottom:solid 1px #f5c15d;
      width: 100%;
      left: 0%;
    }

  ::-webkit-scrollbar {
    width: 6.6rem;
    background: var(--body-color);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--first-color-alt);
    border-radius: 0.5rem;
  }
  
  @media screen and (min-width: 575px) {
    .data {
      flex-direction: row;
    }
  
    .hero__content-title {
      font-size: 12vw;
    }
  
    .about__tag {
      max-width: 30rem;
      width: 100%;
    }
  }
  @media screen and (min-width: 767px) {
    .hero__box {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .hero__person {
      display: block;
    }
    .hero__person-img {
      height: 19rem;
      width: 70%;
      object-fit: cover;
    }
    .hero__person-name {
      font-size: var(--normal-font-size);
      letter-spacing: -1px;
      color: var(--text-color);
      margin: 1rem 0 0.8rem;
    }
    .hero__person-career {
      font-size: var(--smaller-font-size);
      letter-spacing: -0.8px;
      color: var(--text-color-light);
    }
  
    .about__description {
      max-width: 50rem;
    }
  
    .testimonials__quote {
      top: -90px;
      left: -40px;
    }
    .testimonials__btns {
      position: absolute;
      display: flex;
      bottom: 2px;
      right: 22px;
      height: 70px;
      margin: auto;
    }
  }
  @media screen and (min-width: 991px) {
    .hero__container {
      position: relative;
      display: flex;
      align-items: center;
    }
    .hero__content {
      max-width: 60rem;
      width: 100%;
    }
    .hero__content-title {
      font-size: var(--h1-font-size);
    }
    .hero__box {
      padding-right: 0;
    }
  
    .about__container {
      display: flex;
      align-items: flex-start;
      gap: 5rem;
    }
  
    .project__container {
      display: flex;
      justify-content: flex-end;
      max-width: 141rem;
      padding-right: 0;
    }
    .project__card {
      height: 33rem;
      max-width: 36rem;
      width: 100%;
    }
    .project__card-content {
      flex-direction: row;
    }
  .visual__text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 11rem;
    }
    .visual__text-title, .visual__text-description {
      max-width: 52rem;
      width: 100%;
    }
    .visual__text-description {
      margin-top: 1.4rem;
    }
    .visual__people {
      flex-direction: row;
      gap: 0;
    }
    .visual__card {
      max-width: 36rem;
      width: 100%;
    }
    .visual__card:nth-child(2) {
      padding-top: 36rem;
    }
    .visual__card:nth-child(3) .visual__card-name,
  .visual__card:nth-child(3) .visual__card-career {
      padding-left: 2.4rem;
    }
    .visual__card-img {
      max-height: 36rem;
      width: 100%;
      object-fit: cover;
    }
    .visual__card-name {
      margin: 2rem 0 1rem;
    }
  
    footer .footer {
      display: flex;
    }
    footer .footer__join, footer .footer__site {
      max-width: 57rem;
      width: 100%;
    }
    footer .footer__join-btn {
      margin: 8rem 0 32rem;
    }
    footer .footer__join-text {
      display: block;
    }
  }
  @media screen and (min-width: 1150px) {
    .hero__box {
      display: flex;
      justify-content: flex-end;
      max-width: 141rem;
      width: 100%;
      height: 0;
      position: absolute;
      top: 180px;
      right: -50%;
      left: -50%;
      margin: 0 auto;
      padding: 0 0 0 20%;
      z-index: 1;
    }
    .hero__person {
      max-width: 25rem;
      width: 100%;
    }
    .hero__person-img {
      max-height: 25rem;
      width: 100%;
      object-fit: cover;
    }
    .hero__button {
      height: 25rem;
      max-width: 25rem;
      margin-top: 25rem;
    }
  
    .about__container {
      justify-content: space-between;
    }
    .about__tag {
      max-width: 25rem;
    }
    .about__content {
      max-width: 80rem;
      width: 100%;
    }
    .about__infos {
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
    }
    .about__description {
      max-width: 42rem;
      margin: 0;
    }
  
    .visual__card:nth-child(3) {
      max-width: 100%;
      margin-top: -6rem;
    }
    .visual__card:nth-child(3) .visual__card-img {
      max-height: 42rem;
    }
  }